@import "~bootstrap/dist/css/bootstrap.css";

.carousel-image {
    height: 300px; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Ajusta la forma en que la imagen se adapta al contenedor */
  }
  .carousel-inner img {
    opacity: 0;
    transition: opacity 0.5s; /* Agrega una transición de opacidad suave */
}

.carousel-inner .active img {
    opacity: 1;
}

