<div class="contenedor-cartas">

<mat-card class="example-card swing-in-top-fwd shadow-drop-center" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Ver noticia">
    
    <a href="https://www.pagina12.com.ar/598971-elecciones-argentina-2023-candidatos-y-cierres-de-campana-mi">
        <mat-card-header>
          <mat-card-title class="titulo-carta">
            Elecciones Argentina 2023: candidatos y cierres de campaña, minuto a minuto 
          </mat-card-title>
        </mat-card-header>
    <img mat-card-image src="https://images.pagina12.com.ar/styles/focal_3_2_960x640/public/2023-10/779043-12-08-2023-la-organizacion-de-los-comicios-20-281-29.jpg?h=c6980913&itok=RGEBcmCp" alt="Elecciones">
    <mat-card-content>
      <p class="subtitulo-carta">
        Las estrategias y actividades de Sergio Massa, Javier Milei, Patricia Bullrich y el resto de los que se postulan a presidente. Toda la información electoral.
      </p>
    </mat-card-content>
</a>
  </mat-card>

  <mat-card class="example-card swing-in-top-fwd shadow-drop-center" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Ver noticia">
    <a href="https://www.lavoz.com.ar/politica/elecciones-2023-una-encuesta-publicada-por-la-cadena-cnn-anticipa-una-sorpresa-el-domingo/">
        <mat-card-header>
          <mat-card-title class="titulo-carta">
            Elecciones 2023: una encuesta publicada por la cadena CNN anticipa una sorpresa el domingo
                  </mat-card-title>
        </mat-card-header>
    <img mat-card-image src="https://www.lavoz.com.ar/resizer/9_iI-jEv5xu69FswVWOER2qe1Mo=/980x640/smart/filters:quality(75):format(webp)/cloudfront-us-east-1.images.arcpublishing.com/grupoclarin/RCMITYX6VBAF5JOFTF44EF6IJA.png" alt="Elecciones">
    <mat-card-content>
      <p class="subtitulo-carta">
        Lo realizó una consultora brasileña a través de medios digitales -de forma aleatoria- entre los días 10 y 13 de octubre. El sorprendente dato que involucra a Schiaretti.      </p>
    </mat-card-content>
</a>
  </mat-card>

  <mat-card class="example-card swing-in-top-fwd shadow-drop-center" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Ver noticia">
    <a href="https://www.infobae.com/politica/2023/10/17/una-encuesta-publicada-por-cnn-vaticina-una-sorpresa-en-la-eleccion-del-domingo/">
        <mat-card-header>
          <mat-card-title class="titulo-carta">
            Una encuesta publicada por CNN vaticina una sorpresa en la elección del domingo          </mat-card-title>
        </mat-card-header>
    <img mat-card-image src="https://www.infobae.com/new-resizer/d-qSbE_ailRJ-8bvCaRr2PIK0eQ=/992x558/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/QMAG24HUPRHEHFJVAM6AUVVKOU.jpg" alt="Elecciones">
    <mat-card-content>
      <p class="subtitulo-carta">
        El informe lo realizó la consultora brasilera AtlasIntel, que anticipó el resultado de los comicios en 2019 y la definición de la interna entre Patricia Bullrich y Horacio Rodríguez Larreta      </p>
    </mat-card-content>
</a>
  </mat-card>

</div>