.contenedor-mapa-tabla{
    display: flex;
    gap:2rem;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width:1300px) {
    .contenedor-mapa-tabla{
        flex-direction: column-reverse;
       }

       .contenedor-carrousel-tabla{
        margin: 1rem;
       }
}
